.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
    position: absolute;
    padding: 92px;

  }

  .w-10{
      margin: 2px;
      padding-left: 42px;
  }