<div class="navbar-holder">
    <div>
        <span style="font-size: 2em;position: fixed;top:30px;">Contacts</span>
        <button mat-button style="color: cornflowerblue; float: right;margin-right: 40px;" (click)="addNewContact()">+
            Add New</button>
    </div>

    <div>
        <mat-form-field class="filter" style="width: 90% !important;">
            <mat-label>
                <mat-icon>search</mat-icon>Search by name
            </mat-label>
            <input matInput (input)="searchKeyUp($event)" placeholder="" #input>
            <!-- (keyup)="applyFilter($event)" -->
        </mat-form-field>
    </div>
</div>