<div *ngIf="kontakt">
  <div style="background-color: rgb(241, 233, 233); padding-bottom: 20px;">
    <app-back-button></app-back-button>

    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Više"
      style="color: cornflowerblue;margin-top:10px; margin-left: 10px; position: absolute; right: 5px;transform: scale(0.9);">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editContact()">
        <mat-icon>mode_edit</mat-icon>
        <span>Edit</span>
      </button>
      <div class="dialog">
        <button mat-menu-item (click)="asyncBtnBrisanje(kontakt.id)" color="primary">
          <mat-icon>delete_outline</mat-icon>
          <span>Brisanje</span>
        </button>
      </div>
    </mat-menu>
    <div>
      <div
        style="width: 50px; height: 50px;border-radius: 51%;overflow: hidden;border: 2px solid #2e2e2e;margin: auto;">
        <img [src]="'https://robohash.org/R' + kontaktID + '.png?set=set5&size=150x150'" style="margin: -50px 0 0 -50px"
          alt="">
      </div>
    </div>
    <div style="text-align: center; margin-top: 0.5em; font-size: 2rem;">
      {{ kontakt.ime}} {{kontakt.prezime}}
    </div>
    <div *ngIf="kontakt.telefon[0]"
      style="text-align: center; margin-top: 0.5em; font-size: 1.5rem; color: #aaa; font-weight: bold;">
      (385) {{ kontakt.telefon[0].telefon}}
    </div>
  </div>
  <p style="color: rgb(184, 177, 177); margin-bottom: 15px; margin-left: 3px;">OTHER DETAILS</p>

  <div class="detail-row">
    <div class="ikona">
      <i class="material-icons" style="margin-top: 1.5px;">phone</i>
    </div>
    <div class="detail-row-text">
      <div class="label">Telefon</div>
      <div class="info">
        <span *ngFor="let tel of kontakt.telefon; let l = last">(385) {{tel.telefon}}<span *ngIf="!l">, </span></span>
      </div>
    </div>
  </div>
  <div class="detail-row">
    <div class="ikona">
      <i class="material-icons" style="margin-top: 1.5px;">email</i>
    </div>
    <div class="detail-row-text">
      <div class="label">Email</div>
      <div class="info">
        <span *ngFor="let email of kontakt.email; let l = last">{{email.email}}<span *ngIf="!l">, </span></span>
      </div>
    </div>
  </div>

  <div class="detail-row">
    <div class="ikona">
      <i class="material-icons" style="margin-top: 1.5px;">cake</i>
    </div>
    <div class="detail-row-text">
      <div class="label">Birthday</div>
      <div class="info">{{kontakt.opis}}</div>
    </div>
  </div>
  <div class="example-button-row">
    <div class="example-flex-container" style="height: 2px;">
      <mat-slider
        style="margin-top: 104px; margin-left: 0.5px; border-radius: 15px 50px 30px 5px; position: absolute;transform: scale(0.9);">
        <mat-button-toggle>
          <button mat-mini-fab style="background-color: rgb(11, 112, 11); color: white; border-radius: 25px;">
            <mat-icon>phone</mat-icon>
          </button>
          Slide to call
        </mat-button-toggle>
      </mat-slider>
      <button mat-mini-fab aria-label="Example icon button with a menu icon"
        style="background-color: rgb(219, 189, 14); color: white; margin-top: 104px; float: right; margin-left: 1px; margin-right: 1px">
        <mat-icon>mail</mat-icon>
      </button>
      <button mat-mini-fab aria-label="Example icon button with a menu icon"
        style="background-color: rgb(129, 167, 238); color: white; margin-top: 104px; float: right;">
        <mat-icon>message</mat-icon>
      </button>
    </div>
  </div>
</div>